ruian/ruian/xsd/prvky_int/KatUzIntTypy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" xmlns:kui="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:obi="urn:cz:isvs:ruian:schemas:ObecIntTypy:v1" targetNamespace="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" elementFormDefault="qualified" version="1.3.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma KatUzIntTypy obsahuje typy katastrálního území.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ObecIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/ObecIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="VyhledejKatUzDotazIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na vyhledání katastrálního území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Podminka" type="KatUzPodminkaIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínky výběru.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="KatUzPolozkyBaseIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované vyhledané údaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Omezeni" type="com:OmezeniType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Omezení a třídění výběru.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KatUzPodminkaIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Podmínky výběru katastrálního území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód hledaného katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název hledaného katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Obec" type="obi:ObecIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na nadřazenou obec.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KatUzPolozkyBaseIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Rozšířený seznam základních požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="KatUzPolozkyIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="KatUzPolozkyIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní seznam požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované všechny informace katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný kód katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný název katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované nesprávnosti katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExistujeDigitalniMapa" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný příznak existence digitální mapy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Obec" type="obi:ObecPolozkyBaseIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná obec.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:group>
	<xs:complexType name="KatUzSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výsledek vyhledání katastrálního území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KatastralniUzemi" type="KatUzIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vyhledané katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CelkemZaznamu" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Celkový počet záznamů daný podmínkou na vstupu bez omezení.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KatUzIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Katastrální území se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="KatUzIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="KatUzIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku Katastrální území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExistujeDigitalniMapa" type="com:ExistujeDigitalniMapaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Příznak existence digitální mapy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Obec" type="obi:ObecIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená obec.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:group>
	<xs:complexType name="CtiKatUzDotazIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na detaily katastrálního území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod6Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="KatUzPolozkyIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KatUzPolozkyIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="KatUzPolozkyIntGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný začátek platnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID transakce RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID návrhu změny.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RizeniId" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID řízení z ISKN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MluvnickeCharakteristiky" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované mluvnické charakteristiky 2 až 7 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná geometrie definičního bodu katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná originální geometrie hranice katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice1" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice katastrálního území (stupeň generalizace 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice2" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice katastrálního území (stupeň generalizace 2).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumVzniku" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KatUzGMLIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Katastrální území jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="KatUzIntGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlatiDo" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Konec platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RizeniId" type="com:IdRizeniType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID řízení v ISKN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MluvnickeCharakteristiky" type="com:MluvnickeCharakteristikyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Mluvnické charakteristiky 2 až 7 pád.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieKatUzIntType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávnych referenčních údajú.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumVzniku" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometrieKatUzIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje katastrálního území.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:MultiPointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Originální geometrie hranice katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice1" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice katastrální území (stupeň generalizace 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice2" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice katastrální území (stupeň generalizace 2).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
