ruian/ruian/xsd/prvky_int/ParcelaIntTypy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" xmlns:pai="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:kui="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" targetNamespace="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" elementFormDefault="qualified" version="1.1.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma ParcelaIntTypy obsahuje typy parcely.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:KatUzIntTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/KatUzIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="VyhledejParcelaDotazIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na vyhledání parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Podminka" type="ParcelaPodminkaIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínky výběru.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="ParcelaPolozkyBaseIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované vyhledané údaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Omezeni" type="com:OmezeniType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Omezení a třídění výběru.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelaPodminkaIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Podmínky výběru parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID hledané parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KmenoveCislo" type="com:KmenoveCisloType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na kmenové parcelní číslo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PododdeleniCisla" type="com:PoddeleniCislaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na poddělení čísla parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobyVyuzitiPozemku" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na způsob využití pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhCislovaniKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na rozlišení druhu číslování parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhPozemkuKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na kód druhu pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KatastralniUzemi" type="kui:KatUzIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na nadřazené katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelaPolozkyBaseIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Rozšířený seznam základních požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ParcelaPolozkyIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ParcelaPolozkyIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní seznam požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované všechny informace parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované nesprávnosti parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KmenoveCislo" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované kmenové parcelní číslo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PododdeleniCisla" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované poddělení čísla parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobyVyuzitiPozemku" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný způsob využití pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhCislovaniKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované rozlišení druhu číslování parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhPozemkuKod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný kód druhu pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VymeraParcely" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná výměra parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KatastralniUzemi" type="kui:KatUzPolozkyBaseIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:group>
	<xs:complexType name="ParcelaSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výsledek vyhledání parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parcela" type="ParcelaIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vyhledané parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CelkemZaznamu" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Celkový počet záznamů daný podmínkou na vstupu bez omezení.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelaIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Parcela se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ParcelaIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ParcelaIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku Parcela.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Jednoznační identifikátor parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KmenoveCislo" type="com:KmenoveCisloType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kmenové parcelní číslo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PododdeleniCisla" type="com:PoddeleniCislaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Poddělení čísla parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VymeraParcely" type="com:VymeraType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Výměra parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobyVyuzitiPozemku" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob využití pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhCislovaniKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Rozlišení druhu číslování parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhPozemkuKod" type="base:Kod2Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód druhu pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KatastralniUzemi" type="kui:KatUzIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazené katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:group>
	<xs:complexType name="CtiParcelaDotazIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na detaily parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="ParcelaPolozkyIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelaPolozkyIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ParcelaPolozkyIntGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný začátek platnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID transakce RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RizeniId" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID řízení z ISKN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BonitovaneDily" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované bonitované díly parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobyOchranyPozemku" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný způsob ochrany pozemku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná geometrie definičního bodu parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná originální geometrie hranice parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHraniceOmpv" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná originální geometrie hranice parcely OMP-V.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParcelaGMLIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Parcela jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="ParcelaIntGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlatiDo" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Konec platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RizeniId" type="com:IdRizeniType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID řízení v ISKN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BonitovaneDily" type="com:BonitovaneDilySeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Bonitované díly parcely.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobyOchranyPozemku" type="com:ZpusobOchranySeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob ochrany pozemku.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieParcelaIntType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávnych referenčních údajú.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometrieParcelaIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="gml:SurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Originální geometrie hranice parcely.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHraniceOmpv" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Originální geometrie hranice parcely OMP-V.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
