ruian/ruian/xsd/prvky_int/VuscIntTypy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:VuscIntTypy:v1" xmlns:vci="urn:cz:isvs:ruian:schemas:VuscIntTypy:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:rsi="urn:cz:isvs:ruian:schemas:RegSouIntiTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" targetNamespace="urn:cz:isvs:ruian:schemas:VuscIntTypy:v1" elementFormDefault="qualified" version="1.3.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma VuscIntTypy obsahuje typy VÚSC.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../../../ruian/xsd/typy/BaseTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:RegSouIntiTypy:v1" schemaLocation="../../../ruian/xsd/prvky_int/RegSouIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../../../ruian/xsd/typy/CommonTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="VuscPolozkyBaseIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Rozšířený seznam základních požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="VuscPolozkyIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VyhledejVuscDotazIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na vyhledání VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Podminka" type="VuscPodminkaIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínky výběru.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="VuscPolozkyBaseIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované vyhledané údaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Omezeni" type="com:OmezeniType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Omezení a třídění výběru.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="VuscPolozkyIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní seznam požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VsechnyInformace" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované všechny informace VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný kód VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný název VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované nesprávnosti VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionSoudrznosti" type="rsi:RegSouPolozkyBaseIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný region soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:group>
	<xs:complexType name="VuscPodminkaIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Podmínky výběru VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod3Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód hledaného VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="base:Nazev32Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název hledaného VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionSoudrznosti" type="rsi:RegSouIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na nadřazený region soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VuscSeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výsledek vyhledání VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vusc" type="VuscIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vyhledané VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CelkemZaznamu" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Celkový počet záznamů daný podmínkou na vstupu bez omezení.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VuscIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek VÚSC se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="VuscIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="VuscIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod3Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nazev" type="base:Nazev32Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionSoudrznosti" type="rsi:RegSouIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený region soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			</xs:sequence>
	</xs:group>
	<xs:complexType name="VuscPolozkyIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="VuscPolozkyIntGroup" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PlatiOd" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný začátek platnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTransakce" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID transakce RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadované ID návrhu změny.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NutsLau" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaný kód územního celku v NUTS / LAU.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefinicniBod" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná geometrie definičního bodu VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná originální geometrie hranice VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice1" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice VÚSC (stupeň generalizace 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice2" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice VÚSC (stupeň generalizace 2).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice3" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice VÚSC (stupeň generalizace 3).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice4" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice VÚSC (stupeň generalizace 4).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice5" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Požadovaná generalizovaná geometrie hranice VÚSC (stupeň generalizace 5).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumVzniku" type="com:PozadovanyUdajType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtiVuscDotazIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Parametry dotazu na detaily VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod3Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PozadovaneUdaje" type="VuscPolozkyIntType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam požadovaných údajů.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeometrieVuscIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje VÚSC.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Originální geometrie hranice VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice1" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice VÚSC (stupeň generalizace 1).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice2" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice VÚSC (stupeň generalizace 2).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice3" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice VÚSC (stupeň generalizace 3).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice4" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice VÚSC (stupeň generalizace 4).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralizovaneHranice5" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizovaná geometrie hranice VÚSC (stupeň generalizace 5).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VuscGMLIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek VÚSC jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="VuscIntGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlatiDo" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Konec platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NutsLau" type="com:NutsLauKodType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Kód územního celku v NUTS / LAU.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieVuscIntType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávnych referenčních údajú.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumVzniku" type="base:DatumCasType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
